<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="@Url.Content("~/Content/CSS/StyleSheet1.css")" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", false)
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
<script type="text/javascript">
    function GetRangeNum() {
        var index = document.getElementById('rangeId');
        var rangeNums = ["0", "2305", "4611", "7245", "9881", "12514"];
        document.getElementById('rangeLblId').innerHTML = rangeNums[parseInt(index.value)];
        console.log(parseInt(index.value));
        console.log(index.value);
    }
    function InsuranceBtnClickEvent(id) {
        if (document.getElementById(id.id).style.backgroundColor.toString() == "greenyellow") {
            document.getElementById(id.id).style.backgroundColor = "white";

        }
        else {    
            document.getElementById(id.id).style.backgroundColor = "greenyellow";
        }
    }
</script>
</body>
</html>
