<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/modernizr")
    @*@Styles.Render("~/Content/css")*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="@Url.Content("~/Content/CSS/StyleSheet1.css")" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", false)
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container">
        @Html.ActionLink("Mit KF", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        <ul class="navbar-nav">
            <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", new {}, new {@class = "nav-link"})</li>
            <li class="nav-item">@Html.ActionLink("About", "About", "Home", new {}, new {@class = "nav-link"})</li>
            <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", new {}, new {@class = "nav-link"})</li>
            <li class="nav-item">@Html.ActionLink("Calculator", "CarInsuranceCalc", "Calculator", new {}, new {@class = "nav-link"})</li>
        </ul>
    </div>
</nav>
<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
<script type="text/javascript">

    function GetRangeNum() {
        var index = document.getElementById('rangeId');
        var rangeNums = ["0", "2305", "4611", "7245", "9881", "12514"];
        document.getElementById('rangeLblId').innerHTML = rangeNums[parseInt(index.value)];
    }

    function openFixedBasketBox() {
        document.getElementById("fixedBasket").style.width = "20rem";
        document.getElementById("leContainer").style.paddingRight = "8rem";
    }


    function closeFixedBasketBox() {
        document.getElementById("fixedBasket").style.width = "0";
        document.getElementById("leContainer").style.paddingRight = "0rem";
    }
</script>
</body>
</html>
