

@helper RadioYesNo(string name, string label)
{
    <div class="form-group">
        <label class="bold-lbl">@label</label>
        <br />
        <div class="form-check-inline">
            <label class="form-check-label">
                <input type="radio" name="@name" class="form-check-input">Ja
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label">
                <input type="radio" name="@name" class="form-check-input">Nej
            </label>
        </div>
    </div>
}

@helper Input(string name, string label = null, string placeholder = null, string value = null, string classes = null)
{
    <div class="form-group">
        <label class="bold-lbl">@label</label>
        <input type="text" name="@name" class="form-control @classes" placeholder="@placeholder" value="@(value != null ? value : "")">
    </div>
}


@helper InsuranceBtn(string id, string label, string icon)
{
    
    <div class="col form-group">
        <div>

            <button type="button" class="calc-button" style="background-color: white; background: url(@icon)" id="@id" onclick="InsuranceBtnClickEvent(@id)" size="40"></button>
        </div>
        <label style="color: dodgerblue">@label</label>
    </div>
}
