@using ASP.Helpers
@using KF.KFWCFServiceLibrary
@model KF.KFWCFServiceLibrary.InsuranceCalc
@using (Html.BeginForm("CarInsuranceCalc", "Calculator", FormMethod.Post))
{
    <div id="leContainer">

        <div class="form-group">
            <div >
                @Html.EditorFor(model => model.Car.RegNr, new {htmlAttributes = new {@class = "form-control"}})
                <input type="submit" name="action" value="Søg" class="search"/>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input type="radio" name="radioCarInsuranceType" class="form-check-input">Bilskifte
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input type="radio" name="radioCarInsuranceType" class="form-check-input">Ekstra bil
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="bold-lbl">Gule nummerplader:</label>
            <br />
            <div class="form-check-inline">
                <label class="form-check-label">
                    @Html.RadioButtonFor(model => model.Car.HasYellowPlates, "True")Ja
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label">
                    @Html.RadioButtonFor(model => model.Car.HasYellowPlates, "False")Nej      
                </label>
            </div>
        </div>
        <h1 class="underlined-header">
            Bil info
        </h1>
        <table class="table">
            <tr>
                <td>Mærke: </td>
                <td>@Model.Car?.Brand</td>
            </tr>
            <tr>
                <td>Model: </td>
                <td>@Model.Car?.Model</td>
            </tr>
            <tr>
                <td>Årgang:</td>
                <td>@Model.Car?.Year</td>
            </tr>
        </table>
        <h1 class="underlined-header">
            Dækninger
        </h1>
     

        <div class="row">
            @Html.CheckBoxFor(model => model.Insurances.FirstOrDefault(i => i.Name == "Ansvar og Kasko").IsSelected, new { id = "ResponsibilityAndKaskoCheckBox",  @class = "hide" })
            @CalcHelper.InsuranceBtn("ResponsibilityAndKasko", "Ansvar og Kasko", "/Content/Icons/BilKasko_Blue.svg")
        </div>
        <h1 style="font-size: 20px; margin-bottom: 4px;">
            Tilvalgsdækninger
        </h1>
        <div class="row">
            @Html.CheckBoxFor(model => model.Insurances.FirstOrDefault(i => i.Name == "Vejhjælp").IsSelected, new { id = "RoadsideAssistanceCheckBox",  @class = "hide" })
            @CalcHelper.InsuranceBtn("RoadsideAssistance", "Vejhjælp", "/Content/Icons/BilVejhjaelp_Blue.svg")

            @Html.CheckBoxFor(model => model.Insurances.FirstOrDefault(i => i.Name == "Førepladsdækning").IsSelected, new { id = "DriversSeatInsuranceCheckBox",  @class = "hide" })
            @CalcHelper.InsuranceBtn("DriversSeatInsurance", "Førepladsdækning", "/Content/Icons/BilFoererpladsdaekning_Blue.svg")

            @Html.CheckBoxFor(model => model.Insurances.FirstOrDefault(i => i.Name == "Udvidet bildækning").IsSelected, new { id = "ExtendedCarInsuranceCheckBox",  @class = "hide" })
            @CalcHelper.InsuranceBtn("ExtendedCarInsurance", "Udvidet bildækning", "/Content/Icons/BilUdvidet_Blue.svg")

            @Html.CheckBoxFor(model => model.Insurances.FirstOrDefault(i => i.Name == "Parkeringsskade").IsSelected, new { id = "ParkingInjuryCheckBox",  @class = "hide" })
            @CalcHelper.InsuranceBtn("ParkingInjury", "Parkeringsskade", "/Content/Icons/Parkeringsskade_Blue.svg")
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    @CalcHelper.RadioYesNo("extraEquipment", "Har bilen ekstraudstyr for over 24.865 kr?")
                </div>
                <div class="col">
                    Vælg selvrisiko
                    <div>
                        <input type="range" valueAsNumber="" class="form-control-range" name="range" id="rangeId" max="5" min="0" step="1" oninput="GetRangeNum()">
                    </div>
                    <div>
                        <output style="font-size: medium; margin-left: 10px" name="rangeLbl" id="rangeLblId" for="range">7245</output>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" name="action" class="btn btn-success" value="Beregn"/>
        </div>
    </div>
    <button type="button" class="btn btn-danger" onclick="openFixedBasketBox()" id="openBasketBtn"><i class="fa fa-bars"></i> Dine beregninger</button>
    <div class="fixed-basket-box" id="fixedBasket">
        <div class="row">
            <div class="col">
                <h3>Dine beregninger</h3>
            </div>
            <div class="col">
                <button type="button" class="btn btn-danger" onclick="closeFixedBasketBox()"><i class="fa fa-close"></i> Luk</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Årlige pris</p>
            </div>
            <div class="col">
                <p class="fixed-basket-box-price">0,00 kr</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary">Log in med nem id og køb</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Andre muligheder</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="submit" name="action" class="btn btn-info" value="Gem tilbud"/>
            </div>
            <div class="col">
                <button type="button" class="btn btn-info">Ring mig op</button>
            </div>
        </div>
    </div>
}