@model List<KF.KFWCFServiceLibrary.InsuranceCalc>



@{
    ViewBag.Title = "Dine Forsikrings Tilbud";
}

<h2>Dine Forsikrings Tilbud</h2>

<p>
    @Html.ActionLink("Beregn ny bilforsikring", "CarInsuranceCalc", routeValues: null, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
</p>

<table class="table">
    <tr>
        <th>
            @*@Html.DisplayTextFor(model => model)*@ Forsikring
        </th>
        <th>
            @*@Html.DisplayTextFor(model => model)*@ Bil
        </th>
        <th>
            @*@Html.DisplayTextFor(model => model)*@ Udløbsdato
        </th>
        <th>
            @*@Html.DisplayTextFor(model => model)*@ Præmie
        </th>
    </tr>
    @foreach (var offer in Model)
    {
        <tr>
            <td>
                @for(int i = 0; i < offer.Insurances.Length; i++)
                {
                    if(i == offer.Insurances.Length - 1)
                    {
                        <span>@(offer.Insurances[i].Name)</span>
                    }
                    else
                    {
                        <span>@(offer.Insurances[i].Name),</span>
                    }
                }
            </td>
            <td>
                @(offer.Car?.Brand ?? "") @(offer.Car?.Model ?? "") @(offer.Car?.Year ?? 0)
            </td>
            <td>
                @(offer.BeginningDate.Date.AddDays(30).ToString("D"))
            </td>
            <td>
                @(offer.FullPriceWithDiscount)
            </td>
        </tr>
    }
</table>